<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <titles style="background-color: crimson; " style="color: chartreuse;">Drums and music</title>
</head>
<body>
      <h1 style="background-color: brown;">Drums and music</h1>
      <P> Existen diferentes tipos de instrumentos en el mundo de la musica<br> 
        moderna y actualmente y durante muchos años en el pasado la Bateria<br>
         ha sido uno de los tan emblematicos intrumentos que ha cambiado<br>
          la musica en todo su esplendor.</P><br>
          <ima src=""><completedrum class="png"></completedrum><ima/>
</body>
</html>